<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Example 03 | Objects Transfer</title>
<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Example 03- <span th:text="${title}"></span> !! </h1>
				<a th:href="@{/example05/post/string}">Formulario</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="card-subtitle">
							<h5 class="">Datos Personales</h5>
						</div>
						<ul class="list-group list-group-flush">
						    <li class="list-group-item">Nombre : <span th:text="${person.name}"></span></li>
						    <li class="list-group-item">Apellido: <span th:text="${person.surname}"></span></li>
						    <li class="list-group-item">Edad: <span th:text="${person.age}"></span></li>
					   </ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="card-subtitle">
							<h5 class="">Listado de Personas</h5>
						</div>
						
						<ul class="list-group list-group-flush" th:each="p : ${list}">
						    <li class="list-group-item">
						    	Nombre : <span th:text="${p.name}"></span> <br />
						    	Apellido: <span th:text="${p.surname}"></span> <br />
						    	Edad: <span th:text="${p.age}"></span>
						    </li>
					   </ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>